#about{
  /* background-color: rgb(2, 22, 22); */
  padding: 2rem 3rem;
  background-image: url(https://media.freestocktextures.com/cache/8d/d6/8dd6d3169ef23ef53991cbdd26b5cbfb.jpg);
  background-size: cover;
  
}


 #events{
  
  text-align: center;
  background-color: black;
  color: rgb(0, 0, 0);
} 

#menu{
  padding: 2rem 3rem;
  background-color: black;
}