.navbar{
    padding-bottom: 4rem;
}

.navbar-dark .navbar-brand {
    font-family: 'Rakkas', cursive;
    font-size: 2rem;
    color: rgb(255, 174, 0);
    
}


.navbar-dark .navbar-brand:hover{
    color: rgb(218, 15, 15);
}


.navbar-dark .navbar-nav .nav-link{
    color: rgb(146, 60, 60);
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(218, 15, 15);
}

button.navbar-toggler{
    color: rgb(146, 60, 60);
    
}