.navbar{
    padding-bottom: 4rem;
}

.navbar-brand {
    font-family: 'Rakkas', cursive;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    
}
.navbar-dark .navbar-brand{
    color: rgb(216, 183, 183);
}

.nav-link{
    font-size: 1rem;
    color: rgb(0, 0, 0);
}
.navbar-dark .navbar-nav .nav-link{
    color: rgb(119, 90, 90);
}