.menu-card{
    background-color: rgba(105, 56, 56, 0.781);
    color: ivory;
  
}

.card-title{
    font-weight: bolder;
    text-align: center;
    
}

.fumariTwo{
    padding-top: 1rem;
}

.extra{
    text-align: center;
}
h5{
    text-align: center;
}

img.alchdrinks{
    width: 55%;
    margin: 2rem !important;
    padding-top: 1rem;
    border-radius: 30px;
    
} 

img.partypic-alch{
    width:100%;
    margin: 1rem !important;
    padding-top: 1rem;
    border-radius: 30px;
    
}