.menu-card{
    background-color: rgba(105, 56, 56, 0.445);
    color: ivory;
  
}

.card-title{
    font-weight: bolder;
    text-align: center;
    
}

.fumariTwo{
    padding-top: 1rem;
}

.extra{
    text-align: center;
}

/* images */

.pinapple-hookah-img{
    width: 80%;
    border-radius: 30px;
}