.menu-card{
    background-color: rgba(105, 56, 56, 0.445);
    width: 100%;
    height: 60%;
  
}

.card-title{
    font-weight: bolder;
    text-align: center;
    
}
.drink-title{
    padding-top: 1.5rem;
    text-align: center;
}
.fumariTwo{
    padding-top: 1rem;
}

.extra{
    text-align: center;
}

img.nonalch-bev{
    width: 50%;
    margin: 2rem !important;
    padding-top: 1rem;
    border-radius: 30px;
    
} 